@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white-font: rgb(235, 233, 233);
    --background: #2f5c7a;
    --blue-grey: #537288;
    --blue-grey-lighter: #6e96b3;
    --dark-blue: #082538;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
    font-family: 'Readex Pro', sans-serif;
    background-color: var(--background);    ;
}


.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--white-font);
}


.container{
    min-height: 100vh;
}
.movie-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}
.movie-search{
    margin: 2rem 0;
}
.movie-search cite{
    font-size: 1rem;
}
.movie-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}


.search-control,
.search-btn{
    width: 100%;
}
.search-control{
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid var(--blue-grey);
    color: var(--white-font);
    background-color: var(--dark-blue);
}
.search-control::placeholder{
    color: var(--white-font);
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--blue-grey);
    color: var(--white-font);
    border: none;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
}
.search-btn:hover{
    background: var(--blue-grey-lighter);
}


.movie-result{
    margin-top: 4rem;

}
#movie{
    margin: 2.4rem 0;
}
.movie-item{
    position:relative;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.79);
    margin: 2rem 0;
    color: var(--white-font);
    background-color: var(--dark-blue);

}
.movie-img img{
    width: 100%;
    display:block;
    height: 420px;
}
.movie-name{
    padding: 1rem 0.5rem; 
}
.movie-name h3{
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.overview{
    position:absolute;
    font-size: 0.8rem;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--blue-grey);
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
}
.movie-item:hover .overview{
    transform:translateY(0)
}


.notFound{
    grid-template-columns: 1fr!important;
    color: var(--white-font);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* Media Queries */
@media screen and (min-width: 600px){
    .movie-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 768px){
    #movie{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    .movie-item{
        margin: 0;
        max-width: 100%;
    }
    .movie-details{
        width: 700px;
    }
}

